extends layout

block content
    
    div(class='bigDiv')
        div(class='center')
            h1 express daringly. freely. unapologetically. and bravely.
            p(class='underscore') _ 
            p you deserve to be heard, but expressing yourself isn't easy. it takes 
                strong courage 
                p and a lot of it. journ strives to normalize emotional and mental well-being by providing an outlet for
                | you to express yourself. you are 
                strong never 
                span alone in how you feel.