extends layout

block content
  div(class='bigDiv')
    div(class='center')
      h1(id='homeHeader') journ.
      p(id='motto') express yourself 
        span(id='typewriter') 
        span(id='cursor')
      
