extends layout

block content

    div(class='bigDiv')
        div(class='center')
            h1 #{title}: #{mood.feeling}

            p Do you really want to delete this mood?

            form(method='POST' action='')
                input(type='hidden' name='moodid', required='true' value=mood._id)
                button(type='submit') delete